@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
*{
	box-sizing:border-box;
}
body{
		font-family:Montserrat, sans-serif;
		font-size:.75rem;
		color:#FFFFFF;
		background:#232D48;
}
/* pattern lab by adam flex seel pokeman mastre of high commodore phil swiftis of azanoth, high king of ka-ka-carrot */

.logopng {
	padding-top:1rem;
	width:100px;
	height:auto;
}
.dot {
  height: 60px;
  width: 60px;
  background-color: #D6745C;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 60px;
  width: 60px;
  background-color: #9279E4;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 60px;
  width: 60px;
  background-color: #232D48;
  border-radius: 50%;
  display: inline-block;
}
.dot4 {
    height: 60px;
    width: 60px;
    background-color: #38446B;
    border-radius: 50%;
    display: inline-block;
}
.dot_5 {
    height: 60px;
    width: 60px;
    background-color: #D74622;
    border-radius: 50%;
    display: inline-block;
}
.dropper {
	margin:-8px;
	padding:0rem;
	
}
.topper {
	width:100%;
	height:auto;
	margin:0;
	
}
.pad {
	padding-right:1.4rem;
}
.hero {
	height:auto;
	width:75%
}
.gradient {
	display:block;
	background-image:linear-gradient(92deg, #D6745C 19%, #9279E4 91%);
	height:50px;
	border-radius: 8px;
	max-width:75%;
	
}
.gradient_blue {
	display:block;
	background-image: linear-gradient(243deg, #D74622 0%, #285671 100%);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.50);
	border-radius: 8px;
	height:50px;
	max-width:75%;
}
.gradient_purp {
	display:block;
	background-image: linear-gradient(236deg, #A078C8 22%, #38446B 100%);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.50);
	border-radius: 8px;
	height:50px;
	max-width:75%;
}
.dark {
	padding-top:0.5rem;
	padding-left:0.5rem;
	background-color:#232D48;
	height:3rem;
	border-radius: 8px;
	max-width:50%;
	min-width:20%;
}
.flex-seal {
	display:flex;
	justify-content:space-between;
	max-width:45%;
	min-width:43%;
	
}
.flex-seal_text{
	display:flex;
	justify-content:space-between;
	max-width:75%;
}
div.nav{
	background:#232D48;
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	right:0;
	height:4rem;
	display:grid;
	grid-gap:0rem;
	grid-template-columns:25% 25% 25% 25%;
	align-items:center;
	justify-items:center;
}
a.nav p{
	margin-top:-.5rem;
}
a.nav{
	text-decoration:none;
	text-align:center;
	color:white;
	display:grid;
	align-items:center;
	justify-items:center;
	padding:.5rem 0;
}
.icon {
	width:2rem;
	height:auto;
	padding-bottom:0.7rem;
}
.flex {
	display:flex;
}
a.button {
	display:inline-block;
	background-color:#232D48;
	color:white;
	border-radius:7px;
	height:auto;
	border-style:none;
	padding:0.4rem 1.3rem;
	text-decoration:none;
}
a.button_w {
	display:inline-block;
	background-color:#232D48;
	color:black;
	border-radius:7px;
	height:auto;
	border-style:none;
	padding:0.4rem 1.3rem;
	text-decoration:none;
}
a.exchange {
	background-color:none;
	background-image:linear-gradient(236deg, #A078C8 22%, #38446B 100%);
}
a.inactive {
	background-color:#e2e2e2;
}
a.wallet {
	background-color:none;
	background-image:linear-gradient(236deg, #A078C8 22%, #38446B 100%);
	display:inline-flex;
	align-items:center;
	justify-content:center;
}
a.display{
	color:black;
	background-color:#FFFAFF;
	display:inline-flex;
	align-items:center;
	justify-content:center;
}
a.wallet img {
	width:2.5em;
	padding-right:0.5rem;
}
a.display img {
	width:2.5em;
	padding-right:0.5rem;
}
.click{
	text-align:center;
	font-size:1.1rem;
}
.circlegrid {
	display:flex;
}
.span {
	padding-right:1.2rem;
}
.thin {
	font-weight:400;
}
.bold {
	font-weight: 700;
}
.reg{
	font-weight:500;
}
.mild{
	font-weight:600;
}
h2 {
	font-weight:600;
}
h1 {
	font-weight:700;
}
h3 {
	font-weight:500;
}
h4 {
	font-weight:500;
}
.bhome {
	padding:1.0rem 1.5rem 5rem 1.5rem;
}

/* log in pagerino flex seal dope stuff */

.logingrid {
	display:grid;
	 grid-template-columns: repeat(2, 0.5fr);
	 margin-top:20%;
}
.logintitle {
	margin-top:35%;
}
body.blogin {
	background-image: url("images/hero.jpg");
}
